*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.lz4 filter=lfs diff=lfs merge=lfs -text
*.mds filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
# Audio files - uncompressed
*.pcm filter=lfs diff=lfs merge=lfs -text
*.sam filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
# Audio files - compressed
*.aac filter=lfs diff=lfs merge=lfs -text
*.flac filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
# Image files - uncompressed
*.bmp filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
# Image files - compressed
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
# Video files - compressed
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
OmniDocBench.json filter=lfs diff=lfs merge=lfs -text
pdfs/docstructbench_dianzishu_zhongwenzaixian-o.O-60599898.pdf_30.pdf filter=lfs diff=lfs merge=lfs -text
pdfs/docstructbench_dianzishu_zhongwenzaixian-o.O-61513005.pdf_179.pdf filter=lfs diff=lfs merge=lfs -text
pdfs/docstructbench_llm-raw-scihub-o.O-ana.20363.pdf_5.pdf filter=lfs diff=lfs merge=lfs -text
pdfs/docstructbench_llm-raw-scihub-o.O-chem.200701412.pdf_10.pdf filter=lfs diff=lfs merge=lfs -text
pdfs/docstructbench_llm-raw-scihub-o.O-chem.200701981.pdf_9.pdf filter=lfs diff=lfs merge=lfs -text
pdfs/docstructbench_llm-raw-scihub-o.O-dneu.20401.pdf_2.pdf filter=lfs diff=lfs merge=lfs -text
pdfs/docstructbench_llm-raw-scihub-o.O-dneu.20833.pdf_13.pdf filter=lfs diff=lfs merge=lfs -text
pdfs/docstructbench_llm-raw-scihub-o.O-j.apcata.2006.05.010.pdf_2.pdf filter=lfs diff=lfs merge=lfs -text
pdfs/docstructbench_llm-raw-scihub-o.O-j.apcata.2007.01.024.pdf_7.pdf filter=lfs diff=lfs merge=lfs -text
pdfs/docstructbench_llm-raw-scihub-o.O-j.chroma.2005.11.024.pdf_7.pdf filter=lfs diff=lfs merge=lfs -text
pdfs/docstructbench_llm-raw-scihub-o.O-j.jcrimjus.2010.04.003.pdf_8.pdf filter=lfs diff=lfs merge=lfs -text
pdfs/docstructbench_llm-raw-scihub-o.O-s00348-006-0117-x.pdf_11.pdf filter=lfs diff=lfs merge=lfs -text
pdfs/docstructbench_llm-raw-scihub-o.O-s00348-006-0148-3.pdf_5.pdf filter=lfs diff=lfs merge=lfs -text
pdfs/docstructbench_llm-raw-scihub-o.O-s00348-006-0169-y.pdf_2.pdf filter=lfs diff=lfs merge=lfs -text
pdfs/docstructbench_llm-raw-the-eye-o.O-1995_2418.pdf_1.pdf filter=lfs diff=lfs merge=lfs -text
pdfs/docstructbench_llm-raw-the-eye-o.O-Dragon%20Magazine%20-%20030.pdf_5.pdf filter=lfs diff=lfs merge=lfs -text
pdfs/jiaocaineedrop_jiaocai_needrop_en_1363.pdf filter=lfs diff=lfs merge=lfs -text
pdfs/jiaocaineedrop_jiaocai_needrop_en_155.pdf filter=lfs diff=lfs merge=lfs -text
pdfs/jiaocaineedrop_jiaocai_needrop_en_1608.pdf filter=lfs diff=lfs merge=lfs -text
pdfs/jiaocaineedrop_jiaocai_needrop_en_1836.pdf filter=lfs diff=lfs merge=lfs -text
pdfs/jiaocaineedrop_jiaocai_needrop_en_206.pdf filter=lfs diff=lfs merge=lfs -text
pdfs/jiaocaineedrop_jiaocai_needrop_en_2263.pdf filter=lfs diff=lfs merge=lfs -text
pdfs/jiaocaineedrop_jiaocai_needrop_en_237.pdf filter=lfs diff=lfs merge=lfs -text
pdfs/jiaocaineedrop_jiaocai_needrop_en_2374.pdf filter=lfs diff=lfs merge=lfs -text
pdfs/jiaocaineedrop_jiaocai_needrop_en_2399.pdf filter=lfs diff=lfs merge=lfs -text
pdfs/jiaocaineedrop_jiaocai_needrop_en_2444.pdf filter=lfs diff=lfs merge=lfs -text
pdfs/jiaocaineedrop_jiaocai_needrop_en_2901.pdf filter=lfs diff=lfs merge=lfs -text
pdfs/jiaocaineedrop_jiaocai_needrop_en_3222.pdf filter=lfs diff=lfs merge=lfs -text
pdfs/jiaocaineedrop_jiaocai_needrop_en_3341.pdf filter=lfs diff=lfs merge=lfs -text
pdfs/jiaocaineedrop_jiaocai_needrop_en_3428.pdf filter=lfs diff=lfs merge=lfs -text
pdfs/jiaocaineedrop_jiaocai_needrop_en_3738.pdf filter=lfs diff=lfs merge=lfs -text
pdfs/jiaocaineedrop_jiaocai_needrop_en_377.pdf filter=lfs diff=lfs merge=lfs -text
pdfs/jiaocaineedrop_jiaocai_needrop_en_3984.pdf filter=lfs diff=lfs merge=lfs -text
pdfs/jiaocaineedrop_jiaocai_needrop_en_467.pdf filter=lfs diff=lfs merge=lfs -text
pdfs/jiaocaineedrop_jiaocai_needrop_en_952.pdf filter=lfs diff=lfs merge=lfs -text
pdfs/newspaper_02912feb79994ae24665509d964ad9ce_1.pdf filter=lfs diff=lfs merge=lfs -text
pdfs/newspaper_0b1bb8d03b4287eb95f67b68c2cf9f92_1.pdf filter=lfs diff=lfs merge=lfs -text
pdfs/newspaper_a105e3b0ddb10be6a596f76407c79180_1.pdf filter=lfs diff=lfs merge=lfs -text
pdfs/newspaper_b615618f3cdb0f2c13ffb5865dea799c_1.pdf filter=lfs diff=lfs merge=lfs -text
pdfs/yanbaor2_yanbaoPPT_3282.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/docstructbench_dianzishu_zhongwenzaixian-o.O-61521185.pdf_167.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/docstructbench_dianzishu_zhongwenzaixian-o.O-61521384.pdf_750.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/docstructbench_dianzishu_zhongwenzaixian-o.O-61522235.pdf_170.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/docstructbench_dianzishu_zhongwenzaixian-o.O-61523162.pdf_276.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/docstructbench_dianzishu_zhongwenzaixian-o.O-61562126.pdf_80.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/docstructbench_dianzishu_zhongwenzaixian-o.O-61569294.pdf_128.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/docstructbench_dianzishu_zhongwenzaixian-o.O-61570552.pdf_129.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/docstructbench_dianzishu_zhongwenzaixian-o.O-61571259.pdf_239.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/docstructbench_dianzishu_zhongwenzaixian-o.O-61571884.pdf_94.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/docstructbench_dianzishu_zhongwenzaixian-o.O-63674848.pdf_101.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/docstructbench_dianzishu_zhongwenzaixian-o.O-63685157.pdf_105.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/docstructbench_dianzishu_zhongwenzaixian-o.O-63685611.pdf_222.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/docstructbench_dianzishu_zhongwenzaixian-o.O-63710614.pdf_149.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/docstructbench_enbook-zlib-o.O-19091739.pdf_181.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/docstructbench_llm-raw-the-eye-o.O-TraneGuide.pdf_7.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/eastmoney_1885ca41425d245551f3482457304f78b48186bff625fa91e675eaf6bba5229f.pdf_0.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/jiaocaineedrop_5f9c4ab08cac7457e9111a30e4664920607ea2c115a1433d7be98e97e64244ca.pdf_2.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/jiaocaineedrop_jiaocai_needrop_en_1276.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/jiaocaineedrop_jiaocai_needrop_en_1458.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/jiaocaineedrop_jiaocai_needrop_en_1564.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/jiaocaineedrop_jiaocai_needrop_en_1959.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/jiaocaineedrop_jiaocai_needrop_en_2017.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/jiaocaineedrop_jiaocai_needrop_en_2031.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/jiaocaineedrop_jiaocai_needrop_en_2193.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/jiaocaineedrop_jiaocai_needrop_en_2263.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/jiaocaineedrop_jiaocai_needrop_en_2374.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/jiaocaineedrop_jiaocai_needrop_en_2991.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/jiaocaineedrop_jiaocai_needrop_en_3222.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/jiaocaineedrop_jiaocai_needrop_en_3341.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/jiaocaineedrop_jiaocai_needrop_en_472.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/jiaocaineedrop_jiaocai_needrop_en_999.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_019d4d5296ba8f1c21277d72fb0cf0db_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_028a1dd5500fbd774e4d85df3c460c4d_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_02912feb79994ae24665509d964ad9ce_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_06b975dbc47dc2dc2a3a1468293f6a2c_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_0ce88e1e131aef7a59d0533be36870de_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_1cddf9d22ca549f3a86cf1512a3110cc_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_26f4ed67a5e8922e7d42b35d317ebf4b_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_2a645bfcbcd473423581cd9f1ceb778e_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_35352f94db65d19e097395380498ec15_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_35bdaa11dec104ccbdc9e19ac8527d21_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_401c73055b88a62c479edd3d490cea8a_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_4790b51e8fa793743699647c09a93ccb_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_4b4ad1f6cba28a4844d7ffa9306223a4_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_4cec63ef5a813c5a49dd8e577f3180e7_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_571a946262006cd89199b67353c408b8_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_5a8b7563a3262beecbecd7ddd3ef8827_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_5aedf678eff04d8ebac3692d54103e19_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_5c4e17f22cdc19d414a3c521f631c899_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_5d4b8e73eacbc6ecac0d7b1396fd01d7_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_635e4e6a64cf2ccfb2560f9b6dfe24b5_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_6d2b5f833fe20785bc395f757524cb05_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_6fa919bfb48695bc785d9f326e3cdd36_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_73fc8720a9b2798307ba43a8b8e47b5e_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_74fc3b01b2cc4a7e6ca0f1af2b998187_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_75bb60c3be9959e1be400d6b8281fea1_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_8076765115f6c402e81c6bfb48139bc2_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_87769622e073730af94822416c60c710_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_95f2062735b213b3d7d471a48d5ec71b_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_9bb9e05d38b370251a4b0a8d070d1d55_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_a105e3b0ddb10be6a596f76407c79180_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_a15057349a86850e55b084c235fa2f22_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_a7666484ee01a811247e52f784164cbb_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_a9c9e3816aa5cb6866d02c10273dc665_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_b95d1d8eb0d756cc94a5d8b5db3cf69b_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_c79c0c10a5df54b21bccad8f64063ffa_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_d6cd76e5afe881630173bd4921531a4b_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_e3842a5681ef54c62a58804adec06c3f_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_e6083de4647ef28434cb6a598b073ae4_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_e62730aaeb9b509119e0c3699ac18201_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_e81b9b3561d4d4e865ff6713782fd432_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_eb569707cf5621d4c71d5898216cdb17_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_f36d00fe3544ae72725aac9dc7f19aa8_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/newspaper_fe2c8b45b2a086cd75984640bb3080e1_1.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_1090.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_120.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_1220.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_1360.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_150.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_1615.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_1735.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_1745.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_1820.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_2400.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_2825.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_2845.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_3125.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_3395.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_4000.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_4050.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_4115.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_4125.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_4185.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_4245.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_4310.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_4330.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_4380.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_4460.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_4570.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_4635.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_4660.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_4770.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_4900.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_5.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_5070.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_5205.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_5245.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_5435.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_5685.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_5930.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_5940.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_5980.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_6130.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_805.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_825.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_870.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaopptmerge_yanbaoPPT_90.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaor2_07331c0c18a9d47c7318a99860c8ccf95726fefa629d6e446677b30938f2f14f.pdf_18.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaor2_1cb2b2a2c6e3a1157a6f2876205bbeaa4d3958d0482e9cdc88dd2c002ed1ffc1.pdf_61.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaor2_37eeaab2c1abfc6443b9781c9bca92468c4a8a9aac837e2523122b1ae632b74e.pdf_13.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaor2_8072f7ea9b3083ff5e8f9bfbba591771e61115039c96fda1c8ea391a7570f098.pdf_13.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaor2_8072f7ea9b3083ff5e8f9bfbba591771e61115039c96fda1c8ea391a7570f098.pdf_5.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaor2_864cbd5f0adeb98dea6cf7105cc8dfb272a9be974757633b2db8cf3f9a11c92b.pdf_33.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaor2_864cbd5f0adeb98dea6cf7105cc8dfb272a9be974757633b2db8cf3f9a11c92b.pdf_40.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaor2_b5cf8249bdf8eebf7625f4b0e39ad38d684d7797ac7bf1617452cd0565ca28a2.pdf_29.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaor2_bedda45af71c9703274cf8b2c62a772e6be615c355d2b255d9408b1b40b606de.pdf_3.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaor2_c1ba77569ecdcc4e0ce5903a503f817fe347683a893426dc4acefd8b8770f047.pdf_9.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaor2_cb862501e720c830960aa5387f65d10961604a63f0491bbdc7fb71257cbd2112.pdf_96.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaor2_ea86fd46182ff9b675775645ecaf43782b996ffaeeb09c679f56a47aabfbf6b7.pdf_9.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaor2_ey-digital-state-tax-article.pdf_0.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaor2_f285730f47c99283aba722e704b936c4362d8c175463dc13de640fc54e8887ac.pdf_75.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaor2_yanbaoPPT_4618.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/yanbaor2_yanbaoPPT_467.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/jiaocaineedrop_chap02.pdf_16.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/jiaocaineedrop_chap10.pdf_8.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/jiaocaineedrop_Chap11.pdf_10.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/jiaocaineedrop_jiaocai_needrop_en_1303.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/jiaocaineedrop_jiaocai_needrop_en_1920.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/jiaocaineedrop_jiaocai_needrop_en_3375.pdf filter=lfs diff=lfs merge=lfs -text
ori_pdfs/jiaocaineedrop_jiaocai_needrop_en_3810.pdf filter=lfs diff=lfs merge=lfs -text
