*pycache*
*.cache/
.vscode/
craft_data*
focus_benchmark_test/focus_benchmark_test
OmniDocBench/
predictions/
pride_blocks*
pride_pages/
SLURM_Logs/
AGENTS.md
*.sh
focus_benchmark_test.zip
*edit_distance_scatter*
*reading_order*
pride_and_prejudice_dataset.json
pride-and-prejudice.txt
learning_notes.md
demo_pred/
demo_test/
tmp_eval.json
pride_and_prejudice_dataset
src_book
pride_dataset
eval_results/
pride_dataset_square/
workspace_illustration.md
pride_dataset_same_content_diff_shape/
laws_dataset_square/
economics_dataset_square/
letters_dataset_square/
medicine_dataset_square/
newspaper_dataset_square/
pride_dataset_square_large_variance/
pride_dataset_square_density_experiment/
pride_dataset_square_paste2larger/
ocr_predictions/
pride_dataset_square_cutoff_content/
demo_*.csv
data4analysis.csv
*_square_density_experiment/
.venv
*.csv
*.jpg
*.png
pride_dataset_square_collapse*
test.py